* {
  box-sizing: border-box;
}

body {
  margin-bottom: 100px;
  background-color:rgb(184, 184, 151);
}


h1, h2, h3 {
  text-align: center;
}

.dead {
  width: 300px;
  margin-left: 35%;
}

p {
  text-align: center;
  
}

footer {
  text-align: center;
}