* {
  box-sizing: border-box;
}

body {
  background-color: pink;
}

p {
  font-size: 21px;
}

img {
  max-width: 300px;
}

.revealer {
  color: rgb(241, 241, 128);
  font-style: italic;
  cursor: cell;
}
.revealer:hover {
  color: crimson;
}

.hidden {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  opacity: 0;
  transition: opacity .5s;
}

.revealer:hover + .hidden {
  opacity: 1;
}

.shapeshifter {
  background-color: rgb(129, 169, 113);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: fixed;

  bottom: 10vh;
  right: 20vw;

  transition: all .5s;
}

.shapeshifter:hover {
  background-color: rgb(109, 194, 194);
  transform: scale(2);
  border-radius: 0;
  cursor: not-allowed;
}

.hidden-two {
  position: fixed;
  top:5vh;
  right: 5vw;
  opacity: 0;
  transition: opacity .5s;
  cursor: default;
}

.shapeshifter:hover + .hidden-two {
  opacity: 1;
}